In [1]:
import pandas as pd
import geopandas as geo

In [2]:
#Read in Files
xls = pd.ExcelFile(r'Resources/Parcel/ParcelDB_20201118_SMZ_REDEV.xlsx')
xls2 = pd.ExcelFile(r'FullMont.xlsx')

Mont_Cont = pd.read_excel(xls, 'Mont_ET_Parcels')


Mont2020 = pd.read_excel(xls2, '2020')
Mont2030 = pd.read_excel(xls2, '2030')
Mont2040 = pd.read_excel(xls2, '2040')
Mont2050 = pd.read_excel(xls2, '2050')
Mont2060 = pd.read_excel(xls2, '2060')
Mont2070 = pd.read_excel(xls2, '2070')
Mont2080 = pd.read_excel(xls2, '2080')
Mont2090 = pd.read_excel(xls2, '2090')
Mont2100 = pd.read_excel(xls2, '2100')

MontSHP = geo.read_file("Montopolis/Montopolis.shp")
print(Mont2020.columns)

Index(['Unnamed: 0', 'ID', 'RedevMonth', 'RedevYearFine', 'RedevYear', 'PV',
       'ST', 'HP', 'Current', 'Best Building', 'Worst Building', 'Best Path',
       'Worst Path', 'Energy Current', 'Energy Worst', 'Energy Best',
       'SF Current', 'SF Worst', 'SF Best', 'Energy Best2020',
       'Energy Worst2020', 'Energy Current2020'],
      dtype='object')

In [3]:
Mont2020

,Unnamed: 0,ID,RedevMonth,RedevYearFine,RedevYear,PV,ST,HP,Current,Best Building,...,Worst Path,Energy Current,Energy Worst,Energy Best,SF Current,SF Worst,SF Best,Energy Best2020,Energy Worst2020,Energy Current2020
0,0,Mont.1,NaN,2070,2070.0,0.0,False,False,"Skinny Lot Single Family - 2,500 sq ft",4 Plex,...,Small Residential,Small Single Family 4,Medium Single Family 2,4 Plex (avg),1358.25,2006.4,1300.0,134000000000,220000000000,153000000000
1,1,Mont.2,NaN,2071,2070.0,NaN,False,False,"Skinny Lot Single Family - 2,500 sq ft",4 Plex,...,Small Residential,Small Single Family 4,Medium Single Family 2,4 Plex (avg),1358.25,2006.4,1300.0,134000000000,220000000000,153000000000
2,2,Mont.3,NaN,2060,2060.0,0.0,False,False,Small Lot Single Family,4 Plex,...,Small Residential,Small Single Family 4,Medium Single Family 2,4 Plex (avg),1358.25,2006.4,1300.0,134000000000,220000000000,153000000000
3,3,Mont.4,NaN,2100,2100.0,NaN,False,False,Small Lot Single Family,4 Plex,...,Small Residential,Small Single Family 4,Medium Single Family 2,4 Plex (avg),1358.25,2006.4,1300.0,134000000000,220000000000,153000000000
4,4,Mont.5,NaN,2101,2100.0,0.0,False,False,Small Lot Single Family,4 Plex,...,Small Residential,Small Single Family 4,Medium Single Family 2,4 Plex (avg),1358.25,2006.4,1300.0,134000000000,220000000000,153000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1909,1909,Mont.2139,NaN,2103,2100.0,0.0,False,False,Single Family Standard Lot,8 Plex,...,Small Residential,Medium Single Family 2,Large Single Family 3,8 Plex (avg),2006.40,3372.6,1300.0,129000000000,383000000000,220000000000
1910,1910,Mont.2140,NaN,2104,2100.0,NaN,False,False,"Skinny Lot Single Family - 2,500 sq ft",4 Plex,...,Small Residential,Small Single Family 4,Medium Single Family 2,4 Plex (avg),1358.25,2006.4,1300.0,134000000000,220000000000,153000000000
1911,1911,Mont.2141,NaN,2032,2030.0,0.0,False,False,"Skinny Lot Single Family - 2,500 sq ft",4 Plex,...,Small Residential,Small Single Family 4,Medium Single Family 2,4 Plex (avg),1358.25,2006.4,1300.0,134000000000,220000000000,153000000000
1912,1912,Mont.2142,NaN,2033,2030.0,NaN,False,False,Single Family Estate,Townhome High Density,...,Small Residential,Small Single Family 4,Large Single Family 3,Townhome High Density,1358.25,3372.6,1200.0,87900000000,383000000000,153000000000
1913,1913,Mont.2143,NaN,2105,2100.0,1.0,False,False,"Skinny Lot Single Family - 2,500 sq ft",4 Plex,...,Small Residential,Small Single Family 4,Medium Single Family 2,4 Plex (avg),1358.25,2006.4,1300.0,134000000000,220000000000,153000000000

In [4]:
DecadeArrayBest = [['2020 Best Type'],['2030 Best Type'],['2040 Best Type'],['2050 Best Type'],
                   ['2060 Best Type'],['2070 Best Type'],['2080 Best Type'],['2090 Best Type'],['2100 Best Type']]
DecadeArrayWorst = [['2020 Worst Type'],['2030 Worst Type'],['2040 Worst Type'],['2050 Worst Type'],
                    ['2060 Worst Type'],['2070 Worst Type'],['2080 Worst Type'],['2090 Worst Type'],['2100 Worst Type']]

DecadeArrayEBest = [['2020 EBest Type'],['2030 EBest Type'],['2040 EBest Type'],['2050 EBest Type'],
                    ['2060 EBest Type'],['2070 EBest Type'],['2080 EBest Type'],['2090 EBest Type'],['2100 EBest Type']]

DecadeArrayEWorst = [['2020 EWorst Type'],['2030EWorst Type'],['2040EWorst Type'],['2050EWorst Type'],['2060EWorst Type']
                     ,['2070 EWorst Type'],['2080 EWorst Type'],['2090 EWorst Type'],['2100 EWorst Type']]

decade = 2020
for ele in range (len(DecadeArrayBest)): 
    for index, row in Mont2020.iterrows():
        #print(row['RedevYear'])
        #print(int(decade))
        if(index == 0):
            print(decade,(int(row['RedevYear'])))
            print(int(decade) <= int(row['RedevYear']))
        if  int(decade) <= row['RedevYear']:
            DecadeArrayBest[ele].append(row['Current'])
            DecadeArrayWorst[ele].append(row['Current']) 
            
            DecadeArrayEBest[ele].append(row['Energy Current2020'])
            DecadeArrayEWorst[ele].append(row['Energy Current2020'])
            
        else:
            DecadeArrayBest[ele].append(row['Best Building'])
            DecadeArrayEBest[ele].append(row['Energy Best2020'])
            
            DecadeArrayWorst[ele].append(row['Best Building'])
            DecadeArrayEWorst[ele].append(row['Energy Worst2020'])
                  
    decade+=10
for ele in(DecadeArrayEBest):
    print(ele[0:7])
for ele in DecadeArrayBest:
    Mont2020.insert(len(Mont2020.columns),ele[0],ele[1:])
for ele in DecadeArrayWorst:
    Mont2020.insert(len(Mont2020.columns),ele[0],ele[1:])

for ele in DecadeArrayEBest:
    Mont2020.insert(len(Mont2020.columns),ele[0],ele[1:])
for ele in DecadeArrayEWorst:
    Mont2020.insert(len(Mont2020.columns),ele[0],ele[1:])

2020 2070
True
2030 2070
True
2040 2070
True
2050 2070
True
2060 2070
True
2070 2070
True
2080 2070
False
2090 2070
False
2100 2070
False
['2020 EBest Type', 153000000000, 153000000000, 153000000000, 153000000000, 153000000000, 153000000000]
['2030 EBest Type', 153000000000, 153000000000, 153000000000, 153000000000, 153000000000, 153000000000]
['2040 EBest Type', 153000000000, 153000000000, 153000000000, 153000000000, 153000000000, 134000000000]
['2050 EBest Type', 153000000000, 153000000000, 153000000000, 153000000000, 153000000000, 134000000000]
['2060 EBest Type', 153000000000, 153000000000, 153000000000, 153000000000, 153000000000, 134000000000]
['2070 EBest Type', 153000000000, 153000000000, 134000000000, 153000000000, 153000000000, 134000000000]
['2080 EBest Type', 134000000000, 134000000000, 134000000000, 153000000000, 153000000000, 134000000000]
['2090 EBest Type', 134000000000, 134000000000, 134000000000, 153000000000, 153000000000, 134000000000]
['2100 EBest Type', 134000000000, 134000000000, 134000000000, 153000000000, 153000000000, 134000000000]

In [5]:
Mont2020

,Unnamed: 0,ID,RedevMonth,RedevYearFine,RedevYear,PV,ST,HP,Current,Best Building,...,2100 EBest Type,2020 EWorst Type,2030EWorst Type,2040EWorst Type,2050EWorst Type,2060EWorst Type,2070 EWorst Type,2080 EWorst Type,2090 EWorst Type,2100 EWorst Type
0,0,Mont.1,NaN,2070,2070.0,0.0,False,False,"Skinny Lot Single Family - 2,500 sq ft",4 Plex,...,134000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,220000000000,220000000000,220000000000
1,1,Mont.2,NaN,2071,2070.0,NaN,False,False,"Skinny Lot Single Family - 2,500 sq ft",4 Plex,...,134000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,220000000000,220000000000,220000000000
2,2,Mont.3,NaN,2060,2060.0,0.0,False,False,Small Lot Single Family,4 Plex,...,134000000000,153000000000,153000000000,153000000000,153000000000,153000000000,220000000000,220000000000,220000000000,220000000000
3,3,Mont.4,NaN,2100,2100.0,NaN,False,False,Small Lot Single Family,4 Plex,...,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000
4,4,Mont.5,NaN,2101,2100.0,0.0,False,False,Small Lot Single Family,4 Plex,...,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1909,1909,Mont.2139,NaN,2103,2100.0,0.0,False,False,Single Family Standard Lot,8 Plex,...,220000000000,220000000000,220000000000,220000000000,220000000000,220000000000,220000000000,220000000000,220000000000,220000000000
1910,1910,Mont.2140,NaN,2104,2100.0,NaN,False,False,"Skinny Lot Single Family - 2,500 sq ft",4 Plex,...,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000
1911,1911,Mont.2141,NaN,2032,2030.0,0.0,False,False,"Skinny Lot Single Family - 2,500 sq ft",4 Plex,...,134000000000,153000000000,153000000000,220000000000,220000000000,220000000000,220000000000,220000000000,220000000000,220000000000
1912,1912,Mont.2142,NaN,2033,2030.0,NaN,False,False,Single Family Estate,Townhome High Density,...,87900000000,153000000000,153000000000,383000000000,383000000000,383000000000,383000000000,383000000000,383000000000,383000000000
1913,1913,Mont.2143,NaN,2105,2100.0,1.0,False,False,"Skinny Lot Single Family - 2,500 sq ft",4 Plex,...,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000

In [6]:
Mont_Cont

,OBJECTID,CURRENT_LA,CURRENT_GE,UNITS,FIRST_prop,FirstOfdee,MAX_prop_v,FIRST_ref_,FIRST_geo_,FIRST_situ,...,Shape_Leng,Tot_Acres,Shape_Length,Shape_Area,CONSTRAINED_ACRE,EX_LAND_VAL,EX_RES_VAL,EX_COM_VAL,EX_SCL_CHLDRN,Land_Use
0,1,100,100,1,R,NaN,2014,3081406140000,308140614,,...,365.259530,0.152873,365.259530,6659.135312,NaN,0,0,0,0,NaN
1,2,100,100,1,R,NaN,2014,3081406160000,308140616,,...,373.925563,0.144893,373.925563,6311.523518,NaN,0,0,0,0,NaN
2,3,100,100,1,R,NaN,2014,3081406120000,308140612,,...,412.670484,0.227622,412.670484,9915.177582,NaN,0,0,0,0,NaN
3,4,100,100,1,R,NaN,2014,3081406060000,308140606,,...,405.204736,0.215382,405.204736,9382.018567,NaN,0,0,0,0,NaN
4,5,100,100,1,R,NaN,2014,3081406050000,308140605,,...,411.784098,0.224600,411.784098,9783.517644,NaN,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2138,2139,100,100,1,R,NaN,2014,3111603250000,311160325,,...,561.770800,0.437476,561.770800,19056.359560,NaN,0,0,0,0,NaN
2139,2140,100,100,1,R,NaN,2014,3111603030000,311160303,,...,343.590445,0.139242,343.590445,6065.350363,NaN,0,0,0,0,NaN
2140,2141,900,900,0,R,NaN,2014,3111603020000,311160302,,...,334.734557,0.127187,334.734557,5540.222400,NaN,0,0,0,0,NaN
2141,2142,900,900,0,R,NaN,2014,3111602010000,311160201,,...,2798.327547,8.139100,2798.327547,354537.758079,NaN,0,0,0,0,NaN
2142,2143,113,113,1,R,NaN,2014,3111603010000,311160301,,...,340.845705,0.137525,340.845705,5990.553579,NaN,0,0,0,0,NaN

In [7]:
Mont_Cont[['OBJECTID','GEO_ID']]

      OBJECTID     GEO_ID
0            1  308140614
1            2  308140616
2            3  308140612
3            4  308140606
4            5  308140605
...        ...        ...
2138      2139  311160325
2139      2140  311160303
2140      2141  311160302
2141      2142  311160201
2142      2143  311160301

[2143 rows x 2 columns]

In [8]:
def abc(x):
    x_as_string = str(x)
    return('Mont.'+x_as_string)

In [9]:
def bcd(x):
    x_as_string= str(x)
    return('0'+x_as_string)

In [10]:
MontBinder = Mont_Cont.loc[:,['OBJECTID','GEO_ID']]

In [11]:
MontBinder

      OBJECTID     GEO_ID
0            1  308140614
1            2  308140616
2            3  308140612
3            4  308140606
4            5  308140605
...        ...        ...
2138      2139  311160325
2139      2140  311160303
2140      2141  311160302
2141      2142  311160201
2142      2143  311160301

[2143 rows x 2 columns]

In [12]:
MontBinder['OBJECTID'] = MontBinder['OBJECTID'].apply(abc)
MontBinder['GEO_ID'] = MontBinder['GEO_ID'].apply(bcd)

In [13]:
MontBinder
result = pd.merge(Mont2020,MontBinder,left_on='ID',how='left',right_on='OBJECTID')

In [14]:
result

,Unnamed: 0,ID,RedevMonth,RedevYearFine,RedevYear,PV,ST,HP,Current,Best Building,...,2030EWorst Type,2040EWorst Type,2050EWorst Type,2060EWorst Type,2070 EWorst Type,2080 EWorst Type,2090 EWorst Type,2100 EWorst Type,OBJECTID,GEO_ID
0,0,Mont.1,NaN,2070,2070.0,0.0,False,False,"Skinny Lot Single Family - 2,500 sq ft",4 Plex,...,153000000000,153000000000,153000000000,153000000000,153000000000,220000000000,220000000000,220000000000,Mont.1,0308140614
1,1,Mont.2,NaN,2071,2070.0,NaN,False,False,"Skinny Lot Single Family - 2,500 sq ft",4 Plex,...,153000000000,153000000000,153000000000,153000000000,153000000000,220000000000,220000000000,220000000000,Mont.2,0308140616
2,2,Mont.3,NaN,2060,2060.0,0.0,False,False,Small Lot Single Family,4 Plex,...,153000000000,153000000000,153000000000,153000000000,220000000000,220000000000,220000000000,220000000000,Mont.3,0308140612
3,3,Mont.4,NaN,2100,2100.0,NaN,False,False,Small Lot Single Family,4 Plex,...,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,Mont.4,0308140606
4,4,Mont.5,NaN,2101,2100.0,0.0,False,False,Small Lot Single Family,4 Plex,...,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,Mont.5,0308140605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1909,1909,Mont.2139,NaN,2103,2100.0,0.0,False,False,Single Family Standard Lot,8 Plex,...,220000000000,220000000000,220000000000,220000000000,220000000000,220000000000,220000000000,220000000000,Mont.2139,0311160325
1910,1910,Mont.2140,NaN,2104,2100.0,NaN,False,False,"Skinny Lot Single Family - 2,500 sq ft",4 Plex,...,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,Mont.2140,0311160303
1911,1911,Mont.2141,NaN,2032,2030.0,0.0,False,False,"Skinny Lot Single Family - 2,500 sq ft",4 Plex,...,153000000000,220000000000,220000000000,220000000000,220000000000,220000000000,220000000000,220000000000,Mont.2141,0311160302
1912,1912,Mont.2142,NaN,2033,2030.0,NaN,False,False,Single Family Estate,Townhome High Density,...,153000000000,383000000000,383000000000,383000000000,383000000000,383000000000,383000000000,383000000000,Mont.2142,0311160201
1913,1913,Mont.2143,NaN,2105,2100.0,1.0,False,False,"Skinny Lot Single Family - 2,500 sq ft",4 Plex,...,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,153000000000,Mont.2143,0311160301

In [15]:
MontSHP['PID_10']

0       0308140614
1       0308140616
2       0308140612
3       0308140606
4       0308140605
           ...
2138    0311160325
2139    0311160303
2140    0311160302
2141    0311160201
2142    0311160301
Name: PID_10, Length: 2143, dtype: object

In [16]:
result = pd.merge(MontSHP,result,left_on='PID_10',how='left',right_on='GEO_ID')

In [17]:
result
result.to_file("ResultFinal5.shp")

In [18]:
result.plot(cmap ='jet', figsize = (10,10),column='Current',legend=True)

ImportError: The matplotlib package is required for plotting in geopandas. You can install it using 'conda install -c conda-forge matplotlib' or 'pip install matplotlib'.

In [ ]:
result.plot(cmap ='jet', figsize = (10,10),column='Best Building',legend= True)

In [ ]:
result.plot(cmap ='jet', figsize = (10,10),column='Worst Building',legend= True)